{{>layouts/top}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">About Me</h1>

    <p class="lead">
        Provides Basic Search Support to Pager Duty
    </p>

    <h2>Find me on Github</h2>

    <ul>
        <li>
            <a href="https://github.com/nycjv321/pager-duty-api">Pager Duty Java API</a>
        </li>
        <li>
            <a href="https://github.com/nycjv321/pager-duty-api-font-end">Front End</a>
        </li>
        <li>
            <a href="https://github.com/nycjv321/pager-duty-web-app">Parent Project</a>
        </li>
    </ul>

    <h2>Components</h2>
    <ul>
        <li><a href="https://www.mongodb.org">MongoDB</a> - Database Engine (<q>Because webscale!</q>)</li>
        <li><a href="http://sparkjava.com/">Java Spark</a> - Web Framework</li>
        <li><a href="https://github.com/sboesebeck/morphium">Morphium</a> - Object Document Mapper (ODM) / POJO
            Caching
        </li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a> - Front End Framework</li>
        <li><a href="https://mustache.github.io/">Mustache</a> - Templating engine</li>
        <li><a href="https://github.com/google/gson">Gson</a> - Json serializer/deserializer library</li>
        <li><a href="https://hc.apache.org/httpcomponents-client-ga/">Apache Http Client</a> - Allows for
            communication
            with PagerDuty
        </li>
        <li><a href="http://coffeescript.org/">CoffeeScript</a>/<a href="https://jquery.com/">jQuery</a> - Client
            side
            language
        </li>
        <li><a href="http://diveintohtml5.info/storage.html">Local Storage</a> - Client Side Persistence</li>

    </ul>
    <h3>Javascript Libraries</h3>
    <ul>
        <li><a href="https://github.com/ericprieto/simply-toast">Simply Toast</a>- Alert Library</li>
        <li><a href="d3js.org">d3.js</a> - pretty visualizations (will be used in future)</li>
    </ul>

</div>
</div>
{{>layouts/bottom}}
