{{>layouts/top}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Tips & Tricks</h1>
    <h3>Other Things</h3>
    <div>
        <p class="lead">
            Clicking the "synchronize" button" on the sidebar will check for newly resolved incidents and add them to the
            database.
        </p>

        <!--<p class="lead">-->
        <!--adding ", limit:x" will limit queries by x size.-->
        <!--for example:</p>-->
        <!--<code>user:email:user@email.com, limit:4</code>-->
        <!--<br><br>-->
        <!--<p class="lead">-->
        <!--will return 4 incidents opened by user@email.com</p>-->

    </div>
</div>
</div>
{{>layouts/bottom}}
